.lp-cta-button {
  transition: 0.3s;
  &:hover {
    opacity: 0.2;
  }
}

.lp-normal-button {
  transition: 0.3s;
  &:hover {
    opacity: 0.2;
  }
}

.lp-footer__x {
  transition: 0.3s;
  &:hover {
    opacity: 0.2;
  }
}

.lp-footer__menu {
  transition: 0.3s;
  &:hover {
    opacity: 0.2;
  }
}
