.e-section-heading__info-icon {
  cursor: 'pointer';
  transition: 0.2s;

  &:hover {
    opacity: 0.2;
  }
}

.e-section-heading__more {
  cursor: 'pointer';
  transition: 0.2s;
  text-decoration: underline;

  &:hover {
    opacity: 0.2;
  }
}
